.giftBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-list {
    box-shadow: rgb(144, 144, 224) 2px 2px 20px, rgb(144, 144, 224) 10px -10px 10px;
    margin: 10px 0;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 3px solid rgb(120, 60, 138);
    height: 150px;
}

.giftimg {
    height: 150px;
    width: 120px;
    border: 1px solid rgb(144, 144, 224);
    border-radius: 5px;
}


.disable>.gift-details {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.616);
}

.disable>button {
    background-color: gainsboro;
    text-decoration: none !important;
}

.giftname {
    font-size: 14px;
    margin: 0 20px;
    font-weight: 400;
}



.activelist {
    border: 3px solid rgb(60, 135, 138);
}

.gift-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    min-height: 120px;
}

.gift-details>a {
    position: absolute;
    bottom: 0;
    color: blue;
    text-decoration: none;
    font-weight: 500;
}

ul {
    padding: 0;
}

@media screen and (max-width:420px) {
    .gift-list>button {
        max-width: 60px;
        font-size: 11px;
    }

    .giftimg {
        max-width: 80px;
    }
    .gift-list{
        max-width: 90vw;
    }
}
button{
    cursor: pointer;
}