.predictionBox{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    min-width: 300px;
    background: linear-gradient(45deg, #fcfcfc, #efc6ff, #aed9e9, #d3faf1);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border: thin;
    border-radius: 10px;
    box-shadow: rgba(144, 144, 224, 0.425) 2px 2px 20px, rgba(144, 144, 224, 0.384) 10px -10px 10px;
    height:max-content

}
.predictionList{
    list-style: none;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 2px #efc6ff;
}
ul{
    width: 80%
}